{{!-- 1.51 --}}
<div class="w-1/4 text-white m-auto text-LG">
    <h2 class="my-8 text-indigo-300 text-center font-bold text-4xl">Bienvenido</h2>
    <form class="" action="/auth/signin" method="POST">

        {{!-- Correo --}}
        <div class="flex flex-col gap-5">
            <label for="email" class="">Correo Electronico</label>
            <input type="email" class="bg-transparent 
            border-slate-300 
            border 
            rounded-lg p-2 border-zinc-300 focus:outline-none focus:border-fuchsia-200" id="email" name="email"
                placeholder="Ingrese su correo electronico">

            {{!-- Password --}}

            <label for="password" class="form-label">Password</label>
            <input  type="password" class="bg-transparent 
            border-slate-300 
            border 
            rounded-lg p-2 border-zinc-300 focus:outline-none focus:border-fuchsia-200" id="password" name="password" placeholder="Ingrese su password">

            <div class="flex justify-between items-center">
                <a class="p-2" href="">Recuperar Contraseña</a>
                <button class="p-2 w-1/2 rounded-full bg-gradient-to-r from-purple-500 to-pink-500">signin</button>
            </div>
        </div>
    </form>
</div>