{{!-- TODO:Pasar a un parcial codigo reutilizable --}}
{{#each errors}}
    {{this.msg}}
{{/each}}
{{#if todo_error}}
    {{todo_error}}
{{/if}}
<div class="w-1/4 text-white m-auto text-LG">
    <h2 class="my-8 text-indigo-300 text-center font-bold text-4xl">Bienvenido</h2>
    <form action="/auth/signup" method="POST">
        {{!-- Nombre --}}
        <div class="flex flex-col gap-5">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="bg-transparent border-slate-300 border rounded-lg p-2 border-zinc-300 focus:outline-none focus:border-fuchsia-200" 
            id="name" name="name" value="{{name}}" placeholder="Ingrese su nombre">
        

        {{!-- Correo --}}
        
            <label for="email" class="form-label">Correo Electronico</label>
            <input type="email" class="bg-transparent border-slate-300 border rounded-lg p-2 border-zinc-300 focus:outline-none focus:border-fuchsia-200" 
            id="email" name="email" value="{{email}}" placeholder="Ingrese su correo electronico">
        

        {{!-- Password --}}
        
            <label for="password" class="form-label">Correo Electronico</label>
            <input type="password" class="bg-transparent 
            border-slate-300 
            border 
            rounded-lg p-2 border-zinc-300 focus:outline-none focus:border-fuchsia-200" id="password" name="password" placeholder="Ingrese su contraseña">
        

        {{!-- Confirm Password --}}
        
            <label for="confirm_password" class="form-label">Correo Electronico</label>
            <input type="password" class="bg-transparent 
            border-slate-300 
            border 
            rounded-lg p-2 border-zinc-300 focus:outline-none focus:border-fuchsia-200" id="confirm_password" name="confirm_password" placeholder="Ingrese repita su contraseña">
        </div>

        <button class="my-5 p-2 w-1/2 rounded-full bg-gradient-to-r from-purple-500 to-pink-500">
            Signup
        </button>
    </form>
</div>