<h2>Listado de posts</h2>
<hr>
<table class="table">
    <thead>
        <tr>

            <th scope="col">Titulo</th>
            <th scope="col">Post</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>

        {{#each posts}}
        <tr>
            <td width="30%">{{this.title}}</td>
            <td width="40%">{{this.body}}</td>
            <td>
                <button class="btn btn-secondary">Ver</button>
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>