<link rel="stylesheet" href="/css/styles.css">
<h2>Lista de perfiles</h2>
<div class="contenedor-profiles">
{{#each profiles}}

<div class="card" style="width: 18rem;">
  <img src="{{this.img}}" class="profile-img card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.job}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}
</div>
